# Force Linguist to detect YAML across all subdirectories
**/*.yaml linguist-language=YAML linguist-detectable
**/*.yml linguist-language=YAML linguist-detectable
*.yaml linguist-language=YAML linguist-detectable
*.yml linguist-language=YAML linguist-detectable